;; This config was generated using ensime-config-gen. Feel free to customize its contents manually. 

(

:server-root "/usr/local/ensime/"

:project-package "com.example.android.recipe001"

:use-sbt t

:compile-jars ("/usr/local/android-sdk-mac_86/platforms/android-2.1/android.jar")

)

